<h1>Projects</h1>
<p>A list of projects I have worked on include:</p>
<mat-accordion color="primary" multi>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>This website!</mat-panel-title>
      <mat-panel-description> Entirely Angular </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list>
      <h3>Technologies Used</h3>
      <mat-list-item>Angular (TypeScript/HTML/SCSS)</mat-list-item>
      <mat-list-item>Angular Materials</mat-list-item>
      <mat-list-item>Vercel</mat-list-item>
    </mat-list>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>More to come...</mat-panel-title>
      <mat-panel-description> &nbsp; </mat-panel-description>
    </mat-expansion-panel-header>
    <p>To-Do</p>
  </mat-expansion-panel>
</mat-accordion>
