$background: #f1f6f9;
$background2: #394867;
$accent: #212a3e;
$laccent: #9ba4b5;

main {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;

  nav {
    background-color: $background2;

    grid-row: 1;
    grid-column: 1 / span 3;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: end;

      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    ul li {
      display: flex;

      margin: 4px;
      color: $background;

      user-select: none;
      cursor: pointer;

      &:hover {
        background-color: $accent;
      }

      a {
        padding: 8px 16px;

        color: inherit;
        text-decoration: none;
      }
    }

    ul li:first-child {
      margin-left: 16px;
    }

    ul li:last-child {
      margin-right: 16px;
    }
  }

  a.active {
    background-color: $accent;
  }

  section {
    grid-row: 2;
    grid-column: 2;
  }
}
