<main class="main">
  <nav>
    <ul>
      <li>
        <a
          routerLink="/home-component"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="/projects-component"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Projects</a
        >
      </li>
      <li>
        <a
          routerLink="/contact-component"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Contact
        </a>
      </li>
    </ul>
  </nav>
  <section class="main">
    <router-outlet></router-outlet>
  </section>
</main>
