$md-primary: (
  50: #e4e5e8,
  100: #bcbfc5,
  200: #90959f,
  300: #646a78,
  400: #424a5b,
  500: #212a3e,
  600: #1d2538,
  700: #181f30,
  800: #141928,
  900: #0b0f1b,
  A100: #5d7aff,
  A200: #2a50ff,
  A400: #002df6,
  A700: #0028dc,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-error: (
  50: #f3e0e0,
  100: #e0b3b3,
  200: #cc8080,
  300: #b84d4d,
  400: #a82626,
  500: #990000,
  600: #910000,
  700: #860000,
  800: #7c0000,
  900: #6b0000,
  A100: #ff9a9a,
  A200: #ff6767,
  A400: #ff3434,
  A700: #ff1a1a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-accent: (
  50: #f3f8fc,
  100: #e2eef8,
  200: #cfe2f4,
  300: #bcd6ef,
  400: #adceeb,
  500: #9fc5e8,
  600: #97bfe5,
  700: #8db8e2,
  800: #83b0de,
  900: #72a3d8,
  A100: #ffffff,
  A200: #ffffff,
  A400: #eef6ff,
  A700: #d4e9ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
